body {
    margin: 0;
    font-family: 'OpenSymbol', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

.head {
    position: fixed;
    border-radius: 5px;
    width: 1296px;
    margin: 0;
    padding: 0;
    background-color: #fda035; /*верхушка с кнопками для перехода по сатйу*/
    z-index: 9999;
    border: 0;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    display: block;
    font-family: Montserrat, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;
    /*background-color: #FF8800;*/
    background: url("../images/background2.png") center no-repeat;
    background-size: 100%;
    /*background-image: url("../images/secret12.png");!*цвет фона главной*!*/

}

.intro__inner {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;

    text-align: center;
}

.intro__suptitle {
    margin-bottom: 20px;

    font-family: Montserrat, sans-serif;
    font-size: 40px;
    color: #fff;
}

.intro__title {
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    /*line-height: 1;*/

    color: #fff;
}

.intro__title::after {
    content: "";
    display: block;
    /*width: 60px;*/
    /*height: 3px;*/
    margin: 60px auto;

    background-color: #fff;
}


/* Header */
.header {
    width: 100%;
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Nav */
.nav {
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #FFE2D2;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #FFE2D2;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.jc {
    text-decoration: none;
    border: 3px solid #668EB9;
    padding: 5px;
    border-radius: 5px;
    background: #668EB9;
    top:20%;
}
.jc:hover{
    color: #d5d5d5;
}

.nav__link:hover,
.nav__link.active {
    color: #FFE2D2;
}


/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 7px 35px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

/*Accordion*/
.accordion{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:100%;
    color: white;
}
.accordion__element{
    position:relative;
    border:1px solid #e5e5e5;
    color: white;
}
.accordion__element input{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    visibility:hidden;
    color: white;
}
.accordion__element input:checked~.accordion__main{
    max-height:10em;
    overflow-y:scroll;
    padding:15px;
    /*color: white;*/
}
.accordion__element input:checked~.accordion__header{
    color: #333333;
    background-color: #fda036;
}
.accordion__element input:checked~.accordion__header


.accordion__arrow{
    transform:rotate(180deg);
}
.accordion__header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px;
    text-decoration:none;
    background-color:#ffffff;
    color:black;
    cursor:pointer;
    transition:all 0.2s linear;
}
.accordion__title{
    display:flex;
    text-decoration-color: black;
    justify-content:center;
    align-items:center;
    width:100%;
    padding:0 7.5px;
}
.accordion__title h2{
    font-family: Montserrat, sans-serif;
    font-weight:bold;
    font-size:14px;
    color: black;
}
.accordion__main{ /*текст в выпадающих менюшках*/
    max-height:0;
    display:block;
    overflow:hidden;
    font-family: Montserrat, sans-serif;
    font-size:14px;
    color:#999999;
    transition:all 0.2s linear;
}
.accordion__arrow{
    transition:all 0.2s linear;
    color: white;
}
.accordion__item {
    border: 1px solid #e5e5e5;
    color:white;
    position: relative;

    margin-bottom: 10px;
}

.accordion__item--active
.accordion__item__title::after {
    transform:
            rotate(45deg);
}

.accordion__item__icon {
    position: absolute;
    top: 15px;
    left: 15px;
}

.accordion__item__title {
    text-transform: uppercase;
    font-size: 14px;
    color: #333;
    font-weight: 700;
    padding: 20px 70px;

    border-bottom: 1px solid #e5e5e5;
}

.accordion__item__text{
    padding: 15px 20px;
}

.accordion__item__title::after {
    content: "";
    display: block;

    width: 20px;
    height: 20px;

    position: absolute;
    right: 25px;
    top: 25px;

    border-top: 5px solid #cccccc;
    border-left: 5px solid #cccccc;

    transform: translateY(-50%)
    rotate(225deg);
}


.text{
    font-family: Montserrat, sans-serif;
    color: #5b5b5b;
    font-size: 20px;
}
.form_margin{
    margin-left: 50px;
}
.form_width{
    width: 100px;
}

/* Section */
.section1{
    padding: 90px 0;

}
.section {
    padding: 45px 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px ;

    text-align: center;
}

.margin_contact{
    margin-bottom: 15px;
}


.section__title {
    font-weight: 700;
    font-size: 50px;
    color: #3a3a3a;
    text-transform: uppercase;
}

.section__title::after {
    content: "";
    display: block;

    margin: 40px auto ;

}

.section__text {
    font-size: 25px;
    color: #a8a8a8;
    font-family: Montserrat, sans-serif;
    line-height: 1.5;

}


/* Cards */
.cards {
    padding-top: 60px;

}

.cards__inner {
    display: flex;
    justify-content: space-evenly;
    /*padding: 15px;*/
}

.cards__item {
    width: 380px;

}


.cards__item:hover .cards__img{

    box-shadow: 1px 1px 50px 3px #668EB9;
    transition: box-shadow 0.5s ease-in-out;

}

.cards__img {

    position: relative;
}

.cards__img img {
    display: block;
    transition: opacity .10s linear;
    background-size: 100%;
}


.cards__item:hover .cards__text {
    opacity: 1;
}


/* Stats */
.statistics {
    margin-top: 110px;

    background-color: #668EB9;
}

.stat__inner {
    display: flex;
}

.stat__item {
    padding: 60px 25px;
    flex: 1 1 0;

    border-left: 1px solid #fff;

    color: #fff;
    text-align: center;
}

.stat__item:last-child {
    border-right: 1px solid #fff;
}

.stat__num {
    font-size: 72px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}


/* Services */
.services {
    padding: 20px 0;
    display: flex;
}

.service__item {
    flex: 1 1 0;
    padding: 10px 15px;
    position: relative;

    font-size: 14px;
}

.service__icon {
    position: absolute;
    left: 10px;
    top: 20px;
}

.service__text {
    margin-left: 50px;
    margin-top: 5px;
    color: #a8a8a8;
    font-family: Montserrat, sans-serif;
}

.service__title {
    margin-left: 50px;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #333;

}


hr {
   opacity: .3;
}

/* What we do */
.what_we_do {
    display: flex;
}

.what_we_do__item {
    flex: 1 1 0;

}

[data-tooltip] {
    position: relative; /* Относительное позиционирование */
}
[data-tooltip]::after {
    content: attr(data-tooltip); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    font-size: 20px;
    width: 300px; /* Ширина подсказки */
    left: 0; top: 0; /* Положение подсказки */
    background: #ffffff; /* Синий цвет фона */
    color: #000000; /* Цвет текста */
    padding: 0.5em; /* Поля вокруг текста */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Параметры тени */
    pointer-events: none; /* Подсказка */
    opacity: 0; /* Подсказка невидима */
    transition: 1s; /* Время появления подсказки */
}
[data-tooltip]:hover::after {
    opacity: 1; /* Показываем подсказку */
    top: 2em; /* Положение подсказки */
}
body {
    font: 400 15px Montserrat, sans-serif;
    line-height: 1.8;
    color: #818181; /*цвет текста в ценниках*/
}
.logo{
    /*font: 400 15px GFS Didot, sans-serif;*/
    font-family: 'GFS Didot', serif;
    position: center;
    border: 5px solid white;
    padding: 5px;
    border-radius: 7px;
    /*top:20%;*/
    width: 150px;
    justify-content: center;
    align-items: center;
    text-align:center;

    display: inline-block;

}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: rgb(255, 244, 230); /*контакты*/
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}

.colorRed{
    background: #fda036;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #fda036;
}

.colorGrey{
    background: #626262;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #626262;
}

.colorOutline{
    background: white;
    color: black;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #626262;
}

.colorRed:hover{
    background: #f88100;
}
