body {
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: #192436;
    color: #E5E5E5;
}

a {
    text-decoration: none;
    color: #E5E5E5;
    font-family: 'Comfortaa', cursive;
    font-style: normal;
    font-weight: 400;
}

.waller {
    margin: 0 auto;
    width: 1280px;
    height: 100%;
}
header {
    margin-top: 26px;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
}

.left-side {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo_title{
    font-family: 'Comfortaa', cursive;
    color: aliceblue;
    margin-left: 10px;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 395px;
}

.header-link {
    text-decoration: none;
    color: aliceblue;
}

.header-link h2 {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: 16.856px;
    color: #E5E5E5;
}

.btn {
    width: 177px;
    height: 31px;
    background-color: #E5E5E5;
    border: none;
    border-radius: 6px;
}

.btn a {
    color: rgb(20, 20, 20);
    text-transform: uppercase;
}

/*banner*/
.banner {
    margin: 0 auto;
    width: 344px;
    height: 57px;
    text-align: center;
    margin-bottom: 80px;
}

.banner .banner-title{
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
}

.banner .banner-subtitle {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    color: #A0A0A0;
}